@{
    ViewBag.Title = "Payments";
    ViewBag.Icon = "icon-money";
    ViewBag.HeaderSummary = "Transaction Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuName = "Payment";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "transactionResult",
        Url = Url.Action("GetTransactionResult", Model._TransactionDetailsPartialViewModel)

    };

}
@using CRL.UI.MVC.HTMLHelpers
@model CRL.UI.MVC.Areas.Payment.Models.ViewPageModels.TransactionDetailsViewModel

<div class="clear"></div>
<div class="row-fluid">
    <div class="span12">

        <div class="span8 offset2">
            @using (Ajax.BeginForm(ajaxOpts))
            {
                <div class="inline text-center">
                    <img src="~/Content/Images/Interswitch/paylogo.png" />
                    <br />
                    <h3>Transaction Details Search</h3>
                    <p>Welcome to our online payment transaction details search page.</p>
                    <p>Please enter your transaction reference number and click the search button to view your transaction details</p>
                    <p>If you have any questions, please send an email to <b>support@crnpayment.com</b></p>
                    <br />
                    @Html.TextBoxFor(m => m.TransRefNo, new { @placeholder = "Transaction Reference Number",autocomplete = "off" })
                    <input type="submit" name="Search" value="Search" style="position: relative; top: -3px" class="btn btn-primary" />
                </div>
                <br />
                @Html.Action("GetTransactionResult", Model._TransactionDetailsPartialViewModel)
                <br />
                if (!Model.IsProcessed && !Model._TransactionDetailsPartialViewModel.IsPageLoad)
                {
                <div class="well">
                    <div class="text-center">
                        @if (!Model.IsTempResponse)
                        {
                             <input type="submit" name="QueryTransaction" value="Query Transaction" class="btn btn-primary" />
                        }else{
                        <ul class="inline">
                            <i><a href="@Url.Action("PaymentDetails")" class="btn btn-primary">Cancel</a></i>
                            <i><a href="@Url.Action("VerifyPaymentDetails", new { txn_ref = Model._TransactionDetailsPartialViewModel.TransactionRefNo })" class="btn btn-primary">Process</a></i>
                        </ul>
                        }
                    </div>
                </div>
                }
            }

        </div>

    </div>
</div>
