@{
    
    Layout = "~/Views/Shared/_homeLayout.cshtml";
    
}
@{
    var SecurityUser = User.Identity.IsAuthenticated;
    ViewBag.Active = "Help";
}

<div class="w-container container">
    <div class="page-header">
        <h2>VIDEO TUTORIALS.</h2>
    </div>

    <div class="row">
       
            <div class="top">
        <div>
            <ul>
                <li><a href="https://youtu.be/gYyBv7BT-jk" target="_blank">How to login to the NCR</a></li>
                <li><a href="https://youtu.be/nwzgtEdorrM" target="_blank">How to create new users on the NCR</a></li>
                <li><a href="https://youtu.be/ad-idFTZZ9U" target="_blank">How to assign roles to users on the NCR</a></li>
                <li><a href="https://youtu.be/34vLBCgeiQQ" target="_blank">How to create units on the NCR</a></li>
                
                <li><a href="https://youtu.be/vqWIDHfrg-Y" target="_blank">How to register a financing statement on the NCR</a></li>
                <li><a href="https://youtu.be/s-XlXEq7vmY" target="_blank">How to authorize a financing statement on the NCR</a></li>
                <li><a href="https://youtu.be/vR8DQ9OzftI" target="_blank">How to handle pending tasks on the NCR</a></li>
                <li><a href="https://youtu.be/PACtTMlV2uk" target="_blank">How to update a registration on the NCR</a></li>
               
                <li><a href="https://youtu.be/jHQsozDBUq0" target="_blank">How to edit a resubmitted financing statement on the NCR</a></li>
                <li><a href="https://youtu.be/TsXe8KOWYo8" target="_blank">How to do a password reset on the NCR</a></li>
                <li><a href="https://youtu.be/uqWRVGTcDDg" target="_blank">How to change your password on the NCR</a></li>
            </ul>
        </div>
    </div>
        </div>
        
    <br /><br />
</div>