<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />   
 <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CBLDataContext" connectionString="Data Source=kwaku-pc\sqlexpress2012; Initial Catalog=CRLDBMigratedData; Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="CBLHealthMonitoring" connectionString="Data Source=kwaku-pc\sqlexpress2012; Initial Catalog=CBLHealthMonitoring; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="from" value="boor219839392332@gmail.com" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="userName" value="boor219839392332" />
    <add key="password" value="dsadsasdsa" />
    <add key="alwaysCopy" value="chuboat@gmail.com" />
    <add key="SentMailWithSMTPCredential" value="true" />
    <add key="EnableSSL" value="true" />
    <add key="onTestSite" value="true" />
    <add key="onTestSiteReceipients" value="kaboraa@gmail.com" />
    <add key="onTestSiteSubjectPrefix" value ="Kaboraa Test Server"/>
    <add key="maxAddresses" value="100" />
  </appSettings>
</configuration>