#messages
{
	margin: 0 20px 20px 0px;
}

.msg
{
	padding: 10px;
	padding-left: 35px;
	margin-bottom: 20px;
}

.msg.warning
{
	border: 2px solid #F2DD8C;
	background: url('Images/messages/ico-warning.gif') 10px 50% no-repeat;
	background-color: #FFF5CC;
}

.msg.error
{
	border: 2px solid #FFAEAE;	
	background: url('Images/messages/ico-delete.gif') 10px 50% no-repeat;
	background-color: #FEEBEB;
}

.msg.info
{
	border: 2px solid #B8E2FB;
	background:  url('Images/messages/ico-info.gif') 10px 50% no-repeat;
	background-color: #E8F6FF;
}
.msg.done
{
	border: 2px solid #BBDF8D;
	background:  url('Images/messages/ico-done.gif') 10px 50% no-repeat;
	background-color: #EAF7D9;
}

.msg.warning a
{
	color: #df0000;
}
.msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus
{
	color: #303030;
}

.validation
{
	margin: 0 20px 20px 0px;
    padding: 10px 10px 10px 10px;
	padding-left: 35px;
	margin-bottom: 20px;
	border: 2px solid #F2DD8C;
	background-color: #FFF5CC;
 color:Red
 }
